---
import { Icon } from "astro-icon";
const align = ["left", "center", "right", "justify"];
---

<div class="grid grid-cols-2 gap-4">
	<div class="flex flex-col space-y-2">
		<span class="text-sm font-semibold text-neutral-content opacity-50">Line Height</span>
		<input type="range" min="1" max="5" value="3" class="range range-xs" step="1" id="lineh" />
		<div class="w-full flex justify-between text-xs px-2">
			{Array.from({ length: 5 }, (_, i) => i + 1).map((i) => <span class="w-1 h-2 rounded-xl bg-base-content" />)}
		</div>
	</div>
	<div class="flex flex-col space-y-2">
		<span class="text-sm font-semibold text-neutral-content opacity-50">Aligment</span>
		<div class="join overflow-hidden">
			{align.map((el) => <input type="radio" name="aligment" value={el} class="hidden" checked={el === "left"} id={el} />)}
			{
				align.map((el) => (
					<label class={`${el === "left" && "btn-success"} btn join-item btn-sm`} id={el} for={el}>
						<Icon pack="fluent" name={`text-align-${el}-20-filled`} size="24" />
					</label>
				))
			}
		</div>
	</div>
</div>

<script>
	import { pageState } from "../../store/store";

	const lineh = document.getElementById("lineh")! as HTMLInputElement;
	const aligment = document.querySelectorAll("input[name=aligment]")! as NodeListOf<HTMLInputElement>;
	const labels = document.querySelectorAll("label")! as NodeListOf<HTMLLabelElement>;

	lineh.addEventListener("input", () => {
		pageState.setKey("lineHeight", parseInt(lineh.value));
	});

	aligment.forEach((el) => {
		el.addEventListener("change", () => {
			if (el.checked) {
				labels.forEach((label) => {
					if (label.id === el.id) {
						label.classList.add("btn-success");
					} else {
						label.classList.remove("btn-success");
					}
				});
			}

			pageState.setKey("align", el.value);
		});
	});
</script>
