---
import supabase from "../database/client";
import Layout from "../layouts/Default.astro";
const pathName = new URL(Astro.request.url).pathname.replace("/", "");
let special = "%F0%9F%8D%80";

if (pathName === special) {
	return Astro.redirect("/", 307);
}

const { data, error } = await supabase.from("project").select("image, color, text, fontsize, fontfamily, lineheight, align").eq("url", pathName);

if (error || data?.length === 0) {
	return Astro.redirect("/ouch", 307);
}

const { image, color, text, fontsize, fontfamily, lineheight, align } = data[0];
---

<Layout>
	<div class="preview h-screen overflow-hidden" style={`background-color: ${color}`}>
		<div
			id="preview-template"
			class="w-full h-screen"
			style={`
			font-size: ${fontsize}px;
			font-family: ${fontfamily};
			text-align: ${align};
			overflow: hidden;
			background: transparent url(${image}) center / cover no-repeat text;
			color: transparent;
			white-space: break-spaces;
			word-break: break-all;
			line-height: ${lineheight};
		`}>
			{text}
		</div>
	</div>
</Layout>

<script>
	import calculateCharacterToFill from "../utils/calculateCharacterToFill";

	const previewTemplate = document.getElementById("preview-template")! as HTMLDivElement;

	const repeat = calculateCharacterToFill({
		text: previewTemplate.innerText,
		fontSize: parseInt(previewTemplate.style.fontSize.replace("px", "")),
		lineHeight: parseFloat(previewTemplate.style.lineHeight.replace("px", "")),
		width: previewTemplate.clientWidth,
		height: previewTemplate.clientHeight,
		family: previewTemplate.style.fontFamily,
	});

	previewTemplate.innerText = (previewTemplate.innerText).repeat(repeat + 1);
</script>
